
body{
  background-color: #188db1;
}

.tabel1{
  margin-left: 550px;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding-left:865px;
    margin-bottom: 0;
    overflow: hidden;
    background-color: #1d7494;

  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
  }


  li a:hover:not(.active) {
    background-color: #216583;
  }

  .active {
    background-color: #4CAF50;

}

       .jumbotron {
                  background-image: url(oren.jpg);
                  box-shadow: 9px 9px 6px #203c46;
                  margin-top:19px;
                  margin-left: 78px;
                  margin-right:78px;
                  height: 330px;
              }

       .container{
         background-color: #40a8c4;
         margin-top: 40px;
         margin-left: 80px;
         margin-right: 80px;

       }
       .konten{
         width: 600px;
         margin: auto;
       }
       .judul-konten{
         text-align: center;
       }

       .artikel{
         overflow: hidden;
         margin: auto;
         margin-top: 30px;
         height: 550px;
         width: 1200px;
         /* border: 2px solid black; */
       }
       .artikel-konten{
         width: 900px;
       }
       .kalimat-artikel{
         width: 470px;
       }
       .artikel .isinya{
         /* display: inline-block; */
        /* float: left;*/
         margin-right: 50px;
         margin-left: 400px;
         /* border:2px solid black; */
         width: 500px;
         height: 315px;
       }
       .artikel .isinya2{
         float: right;
         /* display: inline-block; */
         /* border:2px solid black; */
         width: 500px;
         height: 315px;
       }

       .lihat-artikel{
         background-color: unset;
         border-radius: 6px;
         padding: 10px;
       }

       footer{
         position: re;
         bottom: 0;

       }
       .footer-distributed{
         background-color: #292c2f;
         width: 87%;
         text-align: left;
         font: bold 16px sans-serif;
         padding: 60px 100px;
         margin-top: 70px;
         margin-left: -20px;
       }

       .footer-distributed .footer-left,
       .footer-distributed .footer-center{
         display: inline-block;
         vertical-align: top;
       }

       .footer-distributed .footer-left{
         width: 40%;
       }

       .footer-distributed h3{
         color:  #ffffff;
         font: normal 36px 'Cookie', cursive;
         margin: 0;
       }

       .footer-distributed .footer-company-name{
         color:  #8f9296;
         font-size: 14px;
         font-weight: normal;
         margin: 0;
       }


       .footer-distributed .footer-center{
         width: 35%;
         float: right;
       }

       .footer-distributed .footer-center i{
         background-color:  #33383b;
         color: #ffffff;
         font-size: 25px;
         width: 38px;
         height: 38px;
         border-radius: 50%;
         text-align: center;
         line-height: 42px;
         margin: 10px 15px;
         vertical-align: middle;
       }

       .footer-distributed .footer-center i.fa-envelope{
         font-size: 17px;
         line-height: 38px;
       }

       .footer-distributed .footer-center p{
         display: inline-block;
         color: #ffffff;
         vertical-align: middle;
         margin:0;
       }

       .footer-distributed .footer-center p span{
         display:block;
         font-weight: normal;
         font-size:14px;
         line-height:2;
       }

       .footer-distributed .footer-center p a{
         color:  #5383d3;
         text-decoration: none;;
       }

.tombol{
  margin-left: 550px;
  height: 30px;
  width: 20%;
}
